<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Un-Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <title>Welcome to </title>
</head>
<body>
    <header>
        <h1> Site Login</h1>
        <p>Welcome to XXX, this is where you enter.</p>
    </header>
    <main>
    <form method="post">
      Username: <input name="username"><br>
      Password: <input type="password" name="password"><br>
      <button type="submit">Login</button>
    </form>
    <a href="/request_access">Request Access</a>

    </main>
</body>
</html>


